/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    height: 100vh;
}
/* BG & COLORS */
.bg_header_left, .bg_header_right{
   background-color: #eaeaea ;
}

.bg_heavenly{
   background-color: #8edafc ;
}
.btn_style{
    color: rgb(116, 116, 116);
}
.bg_sand{
    background-color: #f3eeea;
}
.chat{
    background-image: url(../img/mine.jpg);
}
.active_notifications{
    text-decoration: underline;
    color: grey;
} 
.bell_style{
    background-color: white;
    color: #8ed8fa;
}
.search_bar{
    background-color: #eaeaea;
}
/* CONTAINERS */

.container{
    height: 100vh;
}

.container_sender{
    width: 35%;
}

.container_reciever{
    width: 65%;
}

.bg_users,.notifications,.send_message{
    min-height: 60px;
}

.container_chat{
    height: calc(100vh - 60px);
}
.row{
    border: 1px solid rgb(0, 0, 0);
}
/* MAIN */
i{
    padding: 0px 5px;
    color: #b1b1b1;
}
.chat{
    border: 1px solid black;
    flex-grow: 1;
}
.audio,.emoji{
    width: 10%;
}
.friend_list li{
    list-style: none;
    padding: 5px;
} 
.friend_list ul{
    margin-left: 0;
    padding-left: 0;
}
.img_profile{
    width: 50px;
    border-radius: 50px;
}
.bell_style{
    padding: 12px 10px;
    border-radius: 60px;
}
/* BUTTONS & SEARCH BAR STYLE*/

.search_bar,.btn_style,.input_box_message{
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
}
.input_box,.btn_style{
    height: 30px;
}
.btn_style{
    width: 15%;
    margin-right: 5px;
} 
.input_box,.input_box_message{
    width: 80%;
}
.input_box_message{
    height: 40px;
}

/* STYLE EFFECTS */
.friends_list li:hover{
    background-color: lightgray;
}