/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
     background: linear-gradient(to bottom, rgb(0,150,136) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 17%,rgb(214,219,216) 100%);
    height: 100vh;
}
/* BG & COLORS */
.bg_header_left, .bg_header_right{
   background-color: #eaeaea ;
}

.bg_heavenly{
   background-color: #8edafc ;
}
.btn_style{
    color: rgb(116, 116, 116);
}
.bg_sand{
    background-color: #f3eeea;
}
.container_chat{
    background-image: url(../img/mine.jpg);
}
.active_notifications{
    text-decoration: underline;
    color: grey;
} 
.bell_style{
    background-color: white;
    color: #8ed8fa;
}
.search_bar{
    background-color: #eaeaea;
}
.last_seen{
    color: gray;
}
.active_friend{
    background-color: lightgray;
}   
/* CONTAINERS */

.container{
    height: 90vh;
}

.container_sender{
    width: 35%;
}

.container_reciever{
    width: 65%;
}
.container_chat{
    height: 100%;
}

.bg_users,.notifications,.send_message{
    min-height: 60px;
}

/* MAIN */
i{
    padding: 0px 5px;
    color: #b1b1b1;
}
.chat{
    height: 100%;
    overflow-y: auto;
}
.audio,.emoji{
    width: 10%;
}
.friend_list li{
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
} 
.friend_list ul{
    margin-left: 0;
    padding-left: 0;
}
.img_profile{
    width: 50px;
    border-radius: 50px;
}
.bell_style{
    padding: 12px 10px;
    border-radius: 60px;
}
.border_box{
    border-right: 1px solid lightgray;
}
.last_seen{
    margin-top: -8px;
    font-size: small;
}
.active_friend{
    position: relative;
}
.time{
    color: #818181;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    right: 5px;
}
/* BUTTONS & SEARCH BAR STYLE*/

.search_bar,.btn_style,.input_box_message{
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
}
.input_box,.btn_style{
    height: 30px;
}
.btn_style{
    width: 15%;
    margin-right: 5px;
} 
.input_box,.input_box_message{
    width: 80%;
}
.input_box_message{
    height: 40px;
}
/* MESSAGES */
.message_sent, .message_recieved{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 40%;
    padding: 10px 20px;
    border-radius: 10px;
 }
 .message_sent{
     margin-left: 450px;
     background-color: #d5f9ba;
 }

 .message_recieved{
     margin-left:50px;
     background-color: #ffffff;

 }
/* STYLE EFFECTS */
.friends_list li:hover{
    background-color: lightgray;
}
